body {
  background-color : #4B0082;
  padding : 0em 0em 4em 0em;
}

div.hold {
  @media (min-width: 800px) {
    h1 {
      margin : 2em 4em;
    }
    pre {
      padding : 0em 5em;
    }
  }

  @media (max-width: 800px) {
    h1 {
      margin : 1em;
    }
    pre {
      padding : 0em 1em;
    }
  }

  h1 {
    font-family: "Courier New";
    font-size : 3em;
    font-weight : bold;
    color : #fff;
    letter-spacing : 1em;
    text-align : center;
  }

  pre {
    white-space : pre-wrap;
    margin : auto;
    color : #fff;
  }

  div.audio {
    text-align : center;
  }

  audio::-webkit-media-controls-panel {
    background-color : #4B0082;
  }

  audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-timeline {
    color : #fff;
  }

  audio::-webkit-media-controls-current-time-display {
    color : #fff;
  }
}

