body {
  background-color : #4B0082;
}

div.hold {
  h1 {
    font-family: "Courier New";
    font-size : 3em;
    font-weight : bold;
    margin : 2em 4em;
    color: #fff;
    letter-spacing: 1em;
    text-align: center;
  }

  pre {
    padding : 0em 5em;
    margin : auto;
    color: #fff;
  }
}

